[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[build]
command = "npx vite build"
publish = "dist"

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"

[functions."scheduler"]
schedule = "*/1 * * * *"

[build.environment]
  NODE_VERSION = "20"
